
<link href="~/Content/jquery-easyui-1.8.6/themes/default/easyui.css" rel="stylesheet" />
<link href="~/Content/jquery-easyui-1.8.6/themes/icon.css" rel="stylesheet" />
<script src="~/Content/jquery-easyui-1.8.6/jquery.min.js"></script>
<script src="~/Content/jquery-easyui-1.8.6/jquery.easyui.min.js"></script>
<script src="~/Content/jquery-easyui-1.8.6/locale/easyui-lang-zh_CN.js"></script>
<script src="~/Content/Toolkit.js"></script>
<script>
    $(function () {
        //查询
        $('#dg_MemberCard').datagrid({
            url: '/MemberCard/GetPagedMemberCardList',
            fitColumns: true,
            toolbar: "#tb",
            singleSelect: true,//如果为true，只允许选择一行
            pagination: true,   //如果为true，则启用分页
            fit: true,  //如果为true，面板大小自适应父容器
            rownumbers: true, ////如果为true，则显示一个行号列
            columns: [[
                { title: '会员卡号', field: 'CardId', width: 220, align: "center", },
                { title: '会员姓名', field: 'Name', width: 220, align: "center", },
                { title: '手机号码', field: 'Mobile', width: 220, align: "center", },
                { title: '累计消费', field: 'TotalMoney', width: 220, align: "center", },
                { title: '会员卡状态', field: 'State', width: 220, align: "center", },
                { title: '当前积分', field: 'Point', width: 220, align: "center", },
                { title: '性别', field: 'Sex', width: 220, align: "center", },

                {
                    title: '登记时间', field: 'CreateTime', width: 220, align: "center", formatter: function (value, row, index) {
                        return FormatJsonTime(row.CreateTime);
                    }

                },
                { field: 'CardLeveLName', title: '当前等级', width: 220, align: "center", }
            ]]
        });
        $("#btn_Search").click(function () {
            $("#dg_MemberCard").datagrid("load", {
                CardId: $.trim($("#txt_CardId").val()),
                Name: $.trim($("#txt_Name").val()),
                Mobile: $.trim($("#txt_Phone").val()),
                CardLevelId: $("#CardLevel").val(),
                State: $("#CardTypeSelectList").val(),
            });
        });

        //添加
        //点击按钮弹出添加dialog对话框
        $("#btn_Create").click(function () {
            //1弹出dialog对话框
            $("#dlg").dialog({ width: 900, height: 500 }).dialog("setTitle", "添加会员").dialog("open");
            //2给iframe的src属性赋值
            //用attr找到src属性
            $("#frml").attr("src", "/MemberCard/Edit");
        });

        //编辑
        //点击按钮弹出编辑dialog对话框
        $("#btn_Edit").click(function () {
            //1判断用户是否选中行
            var row = $("#dg_MemberCard").datagrid("getSelected");
            //2如果选中打开数据弹窗，否则提示用户
            if (row == null) {
                $.messager.alert("温馨提示", "请选择要编辑的行", "warning");
            }
            else {
                //1弹出dialog对话框
                $("#dlg").dialog({ width: 900, height: 500 }).dialog("setTitle", "编辑会员").dialog("open");
                //2给iframe的src属性赋值
                $("#frml").attr("src", "/MemberCard/Edit/" + row.Id);
            }
        });
        //删除会员
        $("#btn_Delete").click(function () {
            //1判断用户是否选中行
            //2如果选中，弹出确认框，选择是否删除
            var row = $("#dg_MemberCard").datagrid("getSelected");
            if (row == null) {
                $.messager.alert("温馨提示", "请选择要删除的行", "warning");
            }
            else {
                $.messager.confirm("确认", "您确认要删除吗", function (r) {
                    if (r) {
                        $.post("/MemberCard/Delete", { id: row.Id }, function (data) {
                            if (data.ResultStatus==1) {
                                //1提示消息
                                $.messager.alert("温馨提示", data.Msg, "info");
                                //2重新加载到数据列表
                                $("#dg_MemberCard").datagrid("reload");
                            }
                            else {
                                $.messager.alert("温馨提示", data.Msg, "error");
                            }
                        }, "json");
                    }
                });
            }            
        });
        //转账
        //点击按钮弹出转账dialog对话框
        $("#btn_zhuanzhang").click(function () {
             //1判断用户是否选中行
            var row = $("#dg_MemberCard").datagrid("getSelected");
            //2如果选中打开数据弹窗，否则提示用户
            if (row == null) {
                $.messager.alert("温馨提示", "请选择要转账的会员", "warning");
            }
            else {
                //1弹出dialog对话框
                $("#dlg").dialog({ width: 900, height: 500 }).dialog("setTitle", "会员转账").dialog("open");
                //2给iframe的src属性赋值
                $("#frml").attr("src", "/MemberCard/Transfer/" + row.Id);
            }
        });
    });
</script>


<table id="dg_MemberCard" align="center"></table>
<div id="tb" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="#" id="btn_Create" class="easyui-linkbutton" iconCls="icon-add">新增</a>
        <a href="#" id="btn_Edit" class="easyui-linkbutton" iconCls="icon-edit">修改</a>
        <a href="#" id="btn_Delete" class="easyui-linkbutton" iconCls="icon-remove">删除</a>

        <a href="#" class="easyui-linkbutton" iconCls="icon-lock">锁定/挂失</a>
        <a href="#"id="btn_zhuanzhang" class="easyui-linkbutton" iconCls="icon">会员转账</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload">会员换卡</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload">导出Excel</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-icon2">导入Excel</a>
    </div>

    <div>
        会员卡号：<input id="txt_CardId" type="text" class="easyui-textbox" />
        会员姓名：<input id="txt_Name" type="text" class="easyui-textbox" />
        电话：<input id="txt_Phone" type="text" class="easyui-textbox" />
        会员等级：@Html.DropDownList("CardLevel", ViewBag.CardLevel as IEnumerable<SelectListItem>)
        状态：@Html.DropDownList("CardTypeSelectList", ViewBag.CardTypeSelectList as IEnumerable<SelectListItem>)


        <a href="#" id="btn_Search" class="easyui-linkbutton Search" iconCls="icon-search">查询</a>
    </div>
</div>
<div id="dlg" class="" data-options="iconCls:'icon-save',resizable:true,model:true,closed:true">
    <iframe id="frml" width="99%" height="99%" frameborder="0"></iframe>
</div>

