@using HPIT.MemberPoint.Entity.DtoModel;
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        当前用户：
        @{ 
            var user = User as MyFormsPrincipal<LoginUserDtoModel>;
            if (user!=null && user.UserData!=null)
            {
                <span>@user.UserData.UserName</span>
            }
            else
            {
                <span>尚未登录</span>
            }
        }
    </div>

    <div>
        @Html.ActionLink("注销", "Logout", "Admin");
    </div>
</body>
</html>
